body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
body.dark-mode {
  background-color: #333;
  color: #f3f3f3;
}

body.dark-mode a {
  color: #bb86fc;
}
